{% extends "tmate/base.html" %}

{% block nav %}
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}

{% load static %}

<div id="close">
  <a href="{% url 'index' %}"><i class="fa fa-times fa-2x"></i></a>
</div>

<div class="register_entry text_area_width">
  <div class="titles">
    <h1 id="intro_big">Let's get started!</h1>
    <h2 id="intro_sub">First, tell us what you're looking for.</h2>
  </div>
  <div class="space"></div>
  <div class="container_register">
    <div class="half center">
      <img class="icon_img" src="{% static 'img/job.png' %}"/>
      <h3 class="des_people">I need a job</h3>
      <p class="des_detail">I am a designer/programmer</p>
      <a href="{% url 'register' %}"><input type="submit" value="Sign Up" class="sign_up_button"/></a>
    </div>
    <div class="half center">
      <img class="icon_img" src="{% static 'img/find.png' %}"/>
      <h3 class="des_people">I have an idea</h3>
      <p class="des_detail">I am an individual/company</p>
      <a href="{% url 'register' %}?is_to_find=1"><input type="submit" value="Sign Up" class="sign_up_button"/></a>
    </div>
  </div>
</div>

{% endblock %}
{% block foot %}
{% endblock %}
