{% extends "tmate/base.html" %}


{% block static %}
{% endblock %}

{% load static %}
{% load tmate_filters %}

{% block nav %}
<header>

  <nav>
    <a href="{% url 'index' %}" id="logo"><img src="{% static 'img/logo-01.png'%}" alt="TMate"/></a>
    <div id="search_searchbar">
      <form id="tfnewsearch" method="get" action="{% url 'search' %}">
        <input value="{{key}}" type="text" id="tfq" class="search_blank" name="q" size="21" maxlength="120" placeholder="Designers? Programmers? Skills?"/>
        <input type="submit" value="Search" class="search_button"/>
      </form>

    </div>
    <ul class="navigation">
      <!-- UL STARTS ABOVE TO ELIMINATE VISUAL GAP  -->

      {% if not is_login %}
      <li><a href="{% url 'login' %}">LOG IN</a></li>
      {% else %}
      <li><a href="{% url 'logout' %}">LOG OUT</a></li>
      {% endif %}

      <li><a id="get_started" href="{% url 'register_entry' %}">GET STARTED</a></li>
    </ul>
    <div class="clear"></div>
    <form id="mobile" method="get" action="{% url 'search' %}">
      <input value="{{key}}" type="search" placeholder="Search" id="mobile_search" class="search_blank" name="q" size="21" maxlength="120" placeholder="Designers? Programmers? Skills?"/>
    </form>
  </nav>

</header>
{% endblock %}

{% block content %}

<section>
  <div class="search_container">
    <ul class="show_designer">
      <!-- per designer here -->
      {% for profile in profiles %}
      <li class="show_one_designer">
        <div class="showone" style="width: 100%; height:auto; overflow:hidden;">
          <a href="{{profile.picture_url}}" target="_blank">
            <div class="people_profile_container">
              <a href="{% url 'profile' profile.user.id %}"><img class="people_profile" src="{{profile.picture_url}}"/></a>
            </div>
          </a>
        </div>

        <div class="clear"></div>

        <div class="show_des">
          <div class="show_people">
            <a href="{% url 'profile' profile.user.id %}"><h5>{{profile.print_name}}</h5></a>
            <div class="position">
              <p class="position_tag">{{profile.position}}</p>
            </div>
          </div>
          <div class="show_other">

            <div class="skill">
              {% for ht in profile.skills.all %}
              <a href="{% url 'search'%}?q={{ht.content}}"><p class="skill_tag">{{ht.content}}</p></a>
              {% endfor %}
            </div>

            <p class="location"><i class="fa fa-map-marker fa-2x" style="color: #777; padding: 0.5em 0;"></i> {{profile.location}}</p>
            <div class="profile_location">
              {% for i in profile.credits_d|get_range %}
              <i class="fa fa-star" style="color: #fbb03b;"></i>
              {% endfor %}
              {% for i in profile.inv_credits_d|get_range %}
              <i class="fa fa-star-o" style="color: #fbb03b;"></i>
              {% endfor %}
              <p>{{profile.credits}}</p>
            </div>

            {% if is_login %}
            <a style="margin-left:10px;" href="mailto:{{profile.email}}"><i class="fa fa-envelope"></i></a>
            {% endif %}

          </p>

        </div>
      </div>
      {% if forloop.counter0|modulo:4 %}<div class="clear"></div>{% endif %}
    </li>
    {% endfor %}

  </ul>

  <div class="clear"></div>
</div>


</section>

<div class="clear"></div>

{% endblock %}

{% block js %}
<script>
  var input = $('#tfq');
  input.focus().val(input.val() + " ");
</script>
{% endblock %}
